services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - kafka-net

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 10
    depends_on:
      - zookeeper
    networks:
      - kafka-net

  main-service:
    build: ./Backend/main_service
    container_name: main-service-aibatch
    env_file:
      - ./Backend/main_service/.env
    ports:
      - "5050:5000"
    environment:
      KAFKA_BROKER: kafka:9092
      PORT: 5000
    depends_on:
      - kafka
    restart: unless-stopped
    networks:
      - kafka-net


  notification-service:
    build: ./Backend/notification_service
    container_name: notification-service-aibatch
    env_file:
      - ./Backend/notification_service/.env
    ports:
      - "5051:5001"
    environment:
      KAFKA_BROKER: kafka:9092
      PORT: 5001
    depends_on:
      - kafka
    restart: unless-stopped
    networks:
      - kafka-net

networks:
  kafka-net:
    driver: bridge
