version: '3.8'

services:
  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_ANONYMOUS_LOGIN=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    depends_on:
      - zookeeper

  main-service:
    build:
      context: ./Backend/main_service
      dockerfile: Dockerfile
    container_name: main-service
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MAIN_SERVICE_MONGO_URI}
      - KAFKA_BROKER=kafka:9092
      - PORT=5000
    depends_on:
      - kafka

  notification-service:
    build:
      context: ./Backend/notification_service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=${NOTIFICATION_SERVICE_MONGO_URI}
      - KAFKA_BROKER=kafka:9092
      - PORT=5001
    depends_on:
      - kafka
